*{padding: 0; margin: 0;}
ul,ol{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    color: #323232;
    font-size: 15px;
}

/* top_s */
#top{
    margin: 0 auto;
    width: 1320px;
    height: 50px;
}
.top_wrap{
    float: right;
    margin: 13px 0;
}
.top_wrap>ul>li{
    float: left;
}
.top_wrap>ul>li>a{
    display: block;
    margin: 0 7px;
}
.top_wrap>ul>li:nth-child(2)>a,
.top_wrap>ul>li:nth-child(4)>a{
    width: 1px;
    height: 10px;
    background-color: #323232;
    margin: 7px 0;
}
@media(max-width: 1330px){
    #top{
        width: 100%;
    }
    .top_wrap>ul{
        padding: 0 10px;
    }
}
@media(max-width:1000px){
    #top{
        display: none;
    }
}
/* top_e */
/* header_s */
#header{
    width: 100%;
    margin: 30px 0;
    position: relative;
    z-index: 10;
}
.header_wrap{
    margin: 0 auto;
    width: 1320px;
    /* position: relative; */
    
}
.pc_mode{
    display: block;
}
.headertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 animation */
.main_logo{
    position: relative;
}
.logo1{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 1;
    animation: blur 13s infinite;
}
.logo2{
    transform: translateY(5px);
    z-index: 9;
    animation: blur1 13s infinite;
}
@keyframes blur{
    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blur1{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

/* top_search */
.pc_search{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 480px;
    z-index: 10;
}
.pc_search.top_search_wrap{
    padding: 18px 20px 15px;
}
 .pc_search .top_search{
    width: 100%;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    box-shadow: 0px 3px 3px #d1d1d160;
}
.top_search fieldset{
    width: 100%;
    height: 100%;
    display: inline-flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border: none;
}
fieldset legend{
    width: 0;
    height: 0;
    overflow: hidden;
}
.btn_search{
    width: 46px;
    background: url(../img/i_search.svg) center no-repeat;
    text-align: left;
    text-indent: -9999px;
    flex-shrink: 0;
    border: none;
}

.text_keyword{
    width: calc(100% - 46px);
    border-radius: 23px 0 0 23px;
    height: 46px;
    border: none;
    line-height: 26px;
}
.text_keyword:focus{
    outline: none;
}
.pc_search input[type="text"]{
    background-color: #fff;
    padding-left: 20px;
    font-size: 16px;
}

.mo_search{
    width: 100%;
}
.mo_search .top_search_wrap{
    padding: 28px 20px 25px;
}
.mo_search .top_search{
    width: 100%;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(153, 153, 153, 0.5);
}

.logoin{
    font-size: 23px;
    font-weight: 600;
    padding-right: 10px;
}
.logoin>a>img{
    transform: translate(-8px,2px);
}

.mo_mode{
    display: none;;
}
.hdtop_mo{
    width: 100%;
    position: relative;
    height: 100px;
}
.mo_mode .main_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mo_mode .main_logo>h1>img{
    display: block;
}
.menu{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
   
}
.menu a img{
    margin: 8px 8px;
}


/* ngv_pc */
#ngv_pc{
    position: absolute;
    width: 100%;
    border-bottom: solid 1px rgba(189, 189, 189, 0.5);
    background-color: #fff;
    z-index: 30;
}
#ngv_pc.sildedown{
    height: 380px;
}
.ngv_wrap{
    margin: 0 auto;
    width: 1320px;
}
.ngv{
    display: flex;
    justify-content: space-between;
}
.ngv>li{
    width: calc(100%/5);
    text-align: center;
    position: relative;
}
.ngv>li>a{
    display: block;
    height: 90px;
    line-height: 90px;
    font-size: 20px;
    font-weight: 600;
}
.ngv>li>a:hover{
    color: #cf3f49;
}
.ngv>li>a.active{
    color: #cf3f49;
}
.ngv_sub{
    /* position: absolute; */
    text-align: center;
    width: 100%;
    height:380px;
    background-color: rgb(255, 255, 255);
    /* border-top: solid 1px rgba(189, 189, 189, 0.5);
    border-bottom: solid 1px rgba(189, 189, 189, 0.5); */
}
.ngv_sub:hover{
    background-color: rgba(241, 241, 241, 0.637);
}
.ngv_sub>li>a{
    display: block;
    padding: 13px 0;
    font-size: 16px;
    font-weight: 400;
}
.ngv_sub>li>a:hover{
    color: #cf3f49;
}

/* ngv_mo */
#ngv_mo{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}
#ngv_mo.on{
    opacity: 1;
    visibility: visible;
}
.ngv_top{
    width: 100%;
    position: relative;
    height: 100px;
    border-bottom: solid 2px rgba(99, 99, 99, 0.5);
}
.close{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}
.close a img{
    margin: 9px 9px;
}

.mo_sub{
    width: 100%;
    margin: auto;
}
.mo_sub>ul>li{
    border-bottom: 1px solid rgba(202, 201, 201, 0.5);
}
.title{
    overflow: hidden;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
}
.title_in{
    float: left;
}
.dropdown{
    float: right;
}
.dropdown img{
    transform: rotate(180deg);
}
.plus{
    float: right;
    margin-right: 3px;
}

/*+모양 회전관련 속성. 요부분은 반드시 복사해서 가져가세요~*/
.turn .title img{transform:rotate(0);}
.dropdown img{transition:transform 0.5s;}



.text_info{
    background-color: #f9f9f9;
    display: none;
    padding: 10px 0;
}
.text_sub>li>a{
    display: block;
    font-size: 16px;
    padding: 10px 20px;
}
@media(max-width: 1353px){
    #header{
        width: 100%;
    }
    .header_wrap{
        width: 100%;;
    }
    .hdtop_pc{
        padding: 0 10px;
    }

    #ngv_pc{
        width: 100%;
    }
    .ngv_wrap{
        width: 100%;
    }
}
@media(max-width:1000px){
    #header{
        margin: 0;
    }

    .pc_mode{
        display: none;
    }
    .mo_mode{
        display: block;
    }
}
/* header_e */

/* section1_s */
#section1{
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
    padding: 150px 0 0 0;
}
.section1_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pc_mode{
    display: block;
    opacity: 1;
    visibility: visible;
}
.mo_mode{
    opacity: 0;
    display: none;
    visibility: hidden;
}

/* main_banner_s */
.main_banner{
    position: relative;
    width: 50%;
    border-radius: 25px;
    overflow: hidden;
    height: 100%;
}
.swiper_wrap{
    position: relative;
}
.main_banner .swiper-slide {
    height: 100%;
  }
.main_banner .swiper-slide a{
    box-sizing: border-box;
    overflow: hidden;
}
.main_banner .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_buton_next1,.swiper_buton_prev1,
.swiper_buton_stop1{
    position: absolute;
    top: 20px;
    z-index: 30;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0 , 0, 0.2);
}

.swiper_buton_next1{
    right: 20px;
    background: #fff url(../img/img.svg/ico_arrow_right.svg) no-repeat center;

}
.swiper_buton_prev1{
    right: 60px;
    background: #fff url(../img/img.svg/ico_arrow_left.svg) no-repeat center;
}
.swiper_buton_stop1{
    right: 100px;
    background: #fff url(../img/img.svg/i_slider_stop.svg) no-repeat center;
}
.swiper_buton_stop1.play{
    background: #fff url(../img/img.svg/i_slider_play.svg) no-repeat center;
}

.swiper-pagination-bullet-active{
    background-color: #3d3d3d !important;
}

@media(max-width: 1353px){
    #section1{
        width: 100%;
        padding: 150px 20px 0;
    }
    .section1_wrap{
        width: 100%;
    }
}
@media(max-width: 1020px){
    #section1{
        width: 100%;
        padding: 0 10px 0;
        margin: 10px 0 0 0;
    }
    .main_banner{
        width: 100%;
    }
    .swiper1_wrap{
        width: 100%;
    }
}

/* main_banner_e */
/* main_icon_s */
.main_icon{
    width: 47%;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 500px;
}
.icon_wrap{
    width: 100%;
    height: 100%;}
.icon{
    background-color: #f7f6f6;
    border: 1px solid #D3D3D3;
    border-radius: 25px;
    padding: 30px 25px;

}
.icon h2{
    font-size: 25px;
}
.icon_pc{
    margin: 40px 0 50px 0;
    text-align: center;
}
.icon_pc>ul{
    height: 259px;
    display: flex;
    flex-wrap: wrap;
}
.icon_pc>ul>li{
    width: 25%;
    padding: 3px;
    box-sizing: border-box;
}
.icon_pc>ul>li>a{
    padding: 10px 0;
    margin: 0 10px;
    display: block;
    border: 1px solid #D3D3D3;
    background-color: #ffffff;
    border-radius: 25px;
}
.icon_pc>ul>li>a img{
    width: 50px;
}
.icon_pc>ul>li>a p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.icon_pc>ul>li>a:hover{
    color: #3f7dcf;
    border: 1px solid #3f7dcf;
}

.icon_txt2{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #D3D3D3;
    background-color: #fff;
}
.icon_txt2 p{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 18px;
    font-weight: 500;
    transform: translateY(-50%);
}
.icon_txt2 img{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 30px;
}

/* icon_mo */
#icon_mo_wrap{
   margin: 0 auto;
   width: 1320px;
   box-sizing: border-box;
   border-radius: 15px; 
   padding-bottom: 35px;
}

.icon_mo_wrap h2{
    padding: 0 20px 20px;
    font-size: 23px;
}  
.icon_mo{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    z-index: 9;
}
.icon_mo_wrap .icon_mo .swiper2 {
    width: 700px;
    min-height: 12.4rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
  
.icon_mo .swiper-slide {
    text-align: center;
}
.icon_mo .swiper-slide a:hover{
    color: #3f7dcf;
}
.icon_mo .swiper-slide p{
    font-size: 16px;
    margin:  10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.icon_mo .swiper-slide img{
    border-radius: 25px;
    margin: 10px 0 0 0;
}
.swiper_buton_next2{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.swiper_buton_next2 a{
    display: block;
    background: url(../img/img.svg/ico_arrow_right.svg ) no-repeat center/ 40px 40px;
    width: 40px;
    height: 40px;
}
.swiper_buton_prev2{
    position: absolute;
    top:50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 10;
}
 .swiper_buton_prev2 a{
    display: block;
    background: url(../img/img.svg/ico_arrow_left.svg ) no-repeat center / 40px 40px;
    width: 40px;
    height: 40px;
}
.mo_mode,
.swiper2_buton{
    display: none;
    visibility: hidden;
    opacity: 0;
}


@media(max-width: 1355px){
    .icon h2{
        font-size: 22px;
    }
    .icon_pc>ul>li>a p{
        font-size: 13px;
    }
    .icon_mo_wrap{
        width: 100%;
    }
}
@media(max-width: 1200px){
    .icon_pc{
        margin: 30px 0 20px;
    }
    .icon_pc>ul>li>a{
        padding: 10px 0;
        margin: 0 6px;
    }
    .icon_pc>ul>li>a img{
        width: 40px;
    }
    .icon_txt2{
        height: 40px;

    }
    .icon_txt2 p{
        font-size: 16px;
    }
}
@media(max-width: 1020px){
    .pc_mode{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .mo_mode{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .main_icon{
        width: 100%;
        margin: 20px 0 0 0;
        box-sizing: border-box;
    }
    .icon_mo{
        width: 100%;
    }

    .icon_mo_wrap{
        border-radius: 25px;
        border: 1px solid #D3D3D3;
        background-color: #f7f6f6;
        padding: 23px 0;
        box-sizing: border-box;
    }
    .myswiper2{
        width: calc(100% - 50px);
    }
  
}

@media(max-width:800px){
    .swiper2_buton{
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }
  @media(max-width:679px){
    .icon_mo_wrap{
      width: 100%;
    }
    .swiper-slide p{
      font-size: 13px;
      margin: 7px 0 7px;
    }
    .swiper-slide img{
      width: 45px;
      margin: 10px 0 0 0;
    }
    .icon_mo_wrap h2{
      font-size: 20px;
    }
  
}
/* main_icon_e */
/* section1_e */
/* section2_s */
#section2{
    margin: 50px auto;
    width: 1320px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.st2_box{
    width: 32%;
    border-radius: 15px;
    box-sizing: border-box;
}
/* st2_left */
.st2_lcontaint1{
    width: 100%;
}
.st2_lcontaint1>li{
    width: 100%;
    margin-bottom: 20px;
}
.st2_lcontaint1>li>a{
    display: flex;
    align-items: center;
    border: 1px solid #D3D3D3;
    background-color: #fff;
    padding: 0 20px;
    height: 66px;
    border-radius: 15px;
}
.st2_lcontaint1>li>a>p{
    font-size: 18px;
}
.st2_lcontaint1>li>a>span{
    display: block;
    width: 7px;
    height: 12px;
    margin-left: auto;
    background: url(../img/img.svg/arr_go.svg) no-repeat;
}

.st2_l_containt2{
    width: 100%;
    height: 476px;
    border: 1px solid #D3D3D3;
    background-color: #f7f6f6;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
}
.st_title{
    font-weight: 600;
    color: #565656;
}
.title{
    font-size: 18px;
    font-weight: 500;
    color: #6a6a6a;
}
.st2l_title{
    color: #565656;
    margin-top: 25px;
    font-size: 21px;
}
.pluse{
    display: inline-flex;
    align-items: center;
    float: right;
    height: 30px;
    font-size: 15px;
    color: #6a6a6a;
    border-radius: 15px;
    border: solid 1px #6a6a6adc;
    background-color: #fff;
    box-sizing: border-box;
    padding:  0 10px;

}
.pluse img{
    padding-right: 10px;
}
.i_menu{
    display: inline-flex;
    align-content: center;
    float: right;
    height: 30px;
    font-size: 18px;
    border-radius: 15px;
    border: solid 1px #565656;
    box-sizing: border-box;
    padding:  0 5px;
}
/* .i_menu>span{
    margin: 1px 0;
} */


/* tab_s */
.tab_wrap{
     display: inline-flex;
     text-align: center;
     margin: 20px 0 16px;
     background-color: #f6f6f6;
     border-radius: 22px;
}
.tab_wrap>li.on>a{
    background-color: #cf3f49;
    color: #fff;
    border-radius: 22px;
    font-weight: 600;
}
.tab_wrap>li{
    display: inline-block;
}
.tab_wrap>li>a{
    display: inline-block;
    padding: 8px 11px;
}
.cont_wrap.on{
    display: block;
}

.cont_wrap>li{
    position: relative;
}
.cont_wrap>li{
    width: 100%;
    font-size: 15px;
}
.cont_wrap>li>a{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}
.cont_wrap>li>a>p{
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.new{
    position: relative;
    right: inherit;
    top: inherit;
    margin-right: 10px;
    color: #cf3f49;
    font-weight: 600;
}
.date{
    color: gray;
    margin: 0 0 0 auto;
    flex-shrink: 0;
    display: block;
}
.st2_l_mo_co .tab_wrap>li>a{
    padding: 8px 15px;
}

.st2_l_mo_co .tab_cont_wrap .cont_wrap>li>a{
    padding: 8px 0;
}

/* tab_e */

/* st2_center */
.st2_c_contain{
    width: 100%;
    border: 1px solid #D3D3D3;
    background-color: #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
}
.st2c_title{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.st2c_mititle{
    text-align: center;
    margin: 10px 0 20px;
}
.video{
    width: 100%;
    height: 388px;
}
.video h1{
    text-align: center;
    color: #cf3f49;
    margin: 10px 0 20px;
}
.video_wrap{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
video{
    width: 100%;
}
.app{
    height:240px;
    margin-top: 20px;
}
.app_wrap{
    width: 100%;
    display: flex;
        align-content: center;    
    justify-content: center;
    margin-bottom: 20px;
}
/* st2_right */
.st2_r_contain{
    width: 100%;
    height: 314px;
    border: 1px solid #D3D3D3;
    background-color: #f7f6f6;
    border-radius: 15px; 
    padding: 20px;
    box-sizing: border-box;
}
.st2_r_contain1{
     margin-bottom: 20px;
}

.st2r_title{
    color: #565656;
    font-size: 20px;
    margin-top: 10px;
}
.pluse2{
    display: inline-block;
    width: 20px;
    height: 20px;

    float: right;
}

.st2r_cont_wrap{
    width: 100%;
    display: block;
    margin: 10px 0 0 0;
}
.st2r_cont>li{
    position: relative;
    width: 100%;
    font-size: 15px;
}
.st2r_cont>li>a{
    display: flex;
    flex-direction: row;
    padding: 6px 0;
}
.st2r_cont>li>a>p{
    overflow: hidden;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.doing,.complete{
    position: relative;
    right: inherit;
    top: inherit;
    margin-right: 10px;
    margin-top: 3px;
    box-sizing: border-box;
}


.pc_mode{
    display: block;
    opacity: 1;
    visibility: visible;
}
.mo_mode{
    display: none;
    opacity: 0;
    visibility: inherit;
}

@media(max-width: 1353px){
    #section2{
        width: 100%;
        padding: 0 20px;
    }
}
@media(max-width:1020px){
    #section2{
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
    }
    .pc_mode{
        display: none;
        opacity: 0;
        visibility: inherit;
    }
    .mo_mode{
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .st2_lcontaint1>li>a>p{
        font-size: 16px;
    }
    .st2_left{
        width: 100%;
        padding: 10px;
    }
    .st2_lcontaint1{
        display: flex;
        justify-content: space-between;
    }
    .st2_lcontaint1>li{
        width: 49%;
        margin-bottom: 10px;
    }
    .st2_l_containt2{
        height: 416px;
    }
    .st2l_title{
        margin-top: 20px;
    }

    .st2_center{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .st2_c_contain{
        width: 49%;
    }
    .video h1{
        font-size: 25px;
    }
    .app{
        height:384px;
        margin-top: 0;
    }
    .app_wrap{
        padding: 50px 0 0 0;
    }

    .st2_right{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .st2_r_contain1{
        margin-bottom: 10px;
    }
  
}
@media(max-width:800px){
    .st2_l_containt2{
        height: 356px;
    }
    .st2_l_title{
        margin-top: 15px;
    }
    .st2_l_mo_co .tab_wrap{
        display: inline-flex;
        text-align: center;
        margin: 15px 0 16px;
        background-color: inherit;
        font-size: 17px;
        color: #565656;
        font-weight: 600;
    }
    .st2_l_mo_co .tab_wrap>li>a{
        padding: 5px 0px;
        margin: 0 10px;
    }
    .st2_l_mo_co .tab_wrap>li.on>a{
        background-color: inherit;
        color: #323232;
        font-weight: 600;
        border-bottom: 1px solid #323232;
        border-radius: 0;
    }
    .st2_l_mo_co .tab_wrap>li>a:hover{
        background-color: inherit;
        color: #323232;
        font-weight: 600;
        font-size: 16px;
        border-radius: 0;
    }
    .st2_l_mo_co .tab_cont_wrap .cont_wrap>li>a{
        padding: 5px 0;
    }
    .st2l_title{
        font-size: 18px;
    }
    .pluse{
        height: 28px;
        font-size:0;
        border-radius: 15px;
        padding:  0 3px;

    }
    .pluse img{
        padding: 0;
    }


    .st2c_title{
        font-size: 18px;
    }
    .video h1{
        font-size: 23px;
    }
    .video_wrap{
        padding-top: 20px;
    }
}
@media(max-width:400px){
    .st2_lcontaint1>li>a{
        padding: 0 10px;
    }
}
/* section4_s */
#section3{
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.slide_wrap{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 2640px;
    display: flex;
    animation: rotate 10s linear infinite;
}
.slide:hover {
    animation-play-state: paused;
}
.slide>ul{
  display: flex;
  width: 1320px;
  justify-content: space-around;
}
.slide>ul>li{
    width: 108px;
}
.slide>ul>li>a{
    display: block;
}
.slide>ul>li>a>img{
    display: block;
}
@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1320px;
    }
}

@media(max-width: 1353px){
    #section3{
        width: 100%;
        padding:  0 20px 20px;
    }

}
@media(max-width:1020px){
    #section4{
        padding: 0 10px;
    }
}
@media(max-width: 800px){

}
/* section3_e */
/* section4_s */
#section4{
    width: 100%;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    background-color: #f7f6f6;
    margin-top: 10px;
}
.section4_wrap{
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
}
.section4_wrap>ul{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 15px;
}

.section4_wrap>ul>li:nth-child(2),
.section4_wrap>ul>li:nth-child(4),
.section4_wrap>ul>li:nth-child(6){
    width: 4%;
    padding: 10px 0;
}
.section4_wrap>ul>li:nth-child(1),
.section4_wrap>ul>li:nth-child(3),
.section4_wrap>ul>li:nth-child(5),
.section4_wrap>ul>li:nth-child(7){
    width: 22%;
}
.section4_wrap>ul>li>a{
    display: block;
    width: 100%;
    padding: 10px 0;
}
@media(max-width: 1353px){
    .section4_wrap{
        width: 100%;
        padding:  0 20px;
    }
}
@media(max-width:1020px){
    .footer_left{
        width: 100%;
    }
    .footer_right{
        margin-top: 50px;
    }
}
@media(max-width: 800px){

}
/* section4_e */
/* footer_s */
#footer{
    width: 100%;
    box-sizing: border-box;
    color: #565656;
    background-color: #f7f6f6;
}
.footer_wrap{
    margin: 0 auto;
    width: 1320px;
    padding: 30px 0;
}
.footer_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left_text{
    margin-top: 10px;
}
.left_text p{
    padding: 3px 0;
}
.footer_right{
    width: 450px;
}
.footer_right p{
    font-size: 20px;
    font-weight: 500;
}
.right_text{
    display: flex;
    justify-content: space-between;
}
.right_text>ul{
    margin: 10px 0;
}
.right_text>ul>li{
    padding: 3px 0;
}
.wegiht{
    font-weight: 400;
}
@media(max-width: 1353px){
    #footer{
        width: 100%;
        padding:  0 20px;
    }
    .footer_wrap{
        width: 100%;

    }
    .footer_box{
        width: 100%;
    }
}
@media(max-width:1036px){
    .footer_left{
        width: 100%;
    }
    .footer_right{
        margin-top: 50px;
    }
}
/* footer_e */


